<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"></meta>
		<title>Adminx - MUMSched-ASCY2.0</title>
		
		<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css"></link>
		<link rel="stylesheet" th:href="@{bower_components/html5-boilerplate/dist/css/normalize.css}"></link>
		<link rel="stylesheet" th:href="@{bower_components/html5-boilerplate/dist/css/main.css}"></link>
		<link rel="stylesheet" th:href="@{app.css}"></link>
		<link rel="stylesheet" th:href="@{bower_components/angular-material/angular-material.min.css}"></link>
		
		<script th:src="@{bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js}"></script>
		
	</head>
	<body ng-app="mumSched">
		<div ng-view="true"></div>
	
		<script th:src="@{bower_components/angular/angular.js}"></script>
		<script th:src="@{bower_components/angular-route/angular-route.js}"></script>
		<script th:src="@{bower_components/angular-animate/angular-animate.min.js}"></script>
		<script th:src="@{bower_components/angular-aria/angular-aria.min.js}"></script>
		<script th:src="@{bower_components/angular-messages/angular-messages.min.js}"></script>
		<script th:src="@{bower_components/angular-material/angular-material.min.js}"></script>
	
		<script th:src="@{app.js}"></script>
		<script th:src="@{login/js/login.js}"></script>
		<script th:src="@{dashboard/js/dashboard.js}"></script>
		<script th:src="@{service/httpWrapper.js}"></script>
		<script th:src="@{components/version/version.js}"></script>
		<script th:src="@{components/version/version-directive.js}"></script>
		<script th:src="@{components/version/interpolate-filter.js}"></script>
	</body>
	<!--body end-->
</html>
