<div id="add-course">
    <div class="reg-form">
        <h3>Add New Profile Form</h3>
        <form class="reg-form-actual">
            <div class="form-group">
                <label for="usr">First Name:</label>
                <input ng-model="pform.courseTitle" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="usr">Last Name:</label>
                <input ng-model="pform.courseTitle" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="usr">Email:</label>
                <input ng-model="pform.courseCode" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="usr">Role:</label>
                <input ng-model="pform.courseCode" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="usr">Password:</label>
                <input ng-model="pform.courseCode" type="text" class="form-control">
            </div>
            <div>
                <button type="button" class="btn btn-danger">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="saveCourse()">Submit</button>
            </div>

        </form>
    </div>
</div>