<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="container">
            <h2>All Blocks</h2>
            <div>
            	<div class="blocksTable">
	            	<div>
            			<div class="col-xs-1 thead">#</div>
            			<div class="col-xs-5 thead">Name</div>
            			<div class="col-xs-2 thead">Entry</div>
            			<div class="col-xs-2 thead">Start Date</div>
            			<div class="col-xs-2 thead">End Date</div>
            		</div>
            	</div>
            	<div class="blocksTable">
            		<div ng-repeat="block in blocks">
            			<div class="tab-block"  ng-click="showDiv = !showDiv">
            				<div class="col-xs-1">{{ block.id }}</div>
	            			<div class="col-xs-5">{{ block.blockname }}</div>
	            			<div class="col-xs-2">{{ block.entry }}</div>
	            			<div class="col-xs-2">{{ block.beginDate | date }}</div>
	            			<div class="col-xs-2">{{ block.endDate | date }}</div>
	            		</div>
            			<div class="tab-sections" ng-show="showDiv">
            				
            				<table class="table table-striped table-hover">
				                <thead>
				                <tr>
				                	<th>#</th>
				                    <th>Section Name</th>
				                    <th>Course</th>
				                    <th>Faculty</th>
				                    <th>Total Seats</th>
				                    <th>Seats Available</th>
				                </tr>
				                </thead>
				                <tbody>
				                	<tr ng-repeat="section in block.sections">
									    <td>{{ section.id }}</td>
									    <td>{{ section.name }}</td>
									    <td>{{ section.course.courseTitle }}</td>
									    <td>{{ section.faculty.profile.firstName}}</td>
									    <td>{{ section.totalSeats }}</td>
									    <td>{{ section.seatsAvailable }}</td>
									 </tr>
				                </tbody>
				            </table>
				            
            			</div>
            			
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>