.header, .footer {
    background-color: #ccc8c8;
    height:6%;
    position: fixed;
    width: 100%;
    text-align: center;
}

.header{
    top: 0px;
    z-index: 1000;
}
.footer{
    bottom: 0px;

}

.content{
    background-color: #d4d0d0;
    position: absolute;
    top: 7.2%;
    width: 94%;
    height: 85%;
    margin: 2px 3% 2px 3%;
    border: solid lightgray;
    border-radius: 4px;
}

.left-menu{
    width: 20%;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
}

.list-group-item{
    border-radius: 0px !important;
}

.right-content{
    width: 76%;
    margin: 10px;
    display: inline-block;
    background-color: white;
    height: 96%;
    overflow: auto;
    border-radius: 4px;
}

.list-group-item:hover{
    background-color: #337ab7;;
    color: black;
}

.list-group-item .active{
    background-color: lightgray !important;
}

.container{
    width: inherit;
}

.reg-form{
    width: 50%;
    background-color: #eaeaea;
    overflow: auto;
    margin: 6% 10%;
    text-align: center;
    border: solid lightblue 2px;
    border-radius: 3px;
}

.form-control{
    display: inline-block;
    width: 260px;
    float: right;
}

.select-field{
    width: 160px;
}

.reg-form-actual{
    margin: 30px;
}

.blocksTable ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

blocksTable li {
    float: left;
    display: inline-block;
}

blocksTable li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.col-xs-1, .col-xs-4, .col-xs-4, .col-xs-3, .col-xs-2{
	background-color: lightgray;
    border: solid #ada8a8 0.5px;
    height: 40px;
    margin: 1px 0px;
}

.thead{
	    background-color: darkgrey;
}

.custom-button{
	margin-top: 2px;
}

.save-section{
	float: right;
    display: inline-block;
    margin: 10px 30px;
}

.sections-header{
	display: inline-block;
    float: left;
    vertical-align: middle;
}

.tab-sections{
	border: solid black 1px;
}
